<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Prices</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">           
     
      
      <form method="GET">
        
      {% for price in prices%}
      <ul>
        <li>
          {%if price%}
          <a>           
            ID:{{price.id}} Source: {{price.sourse}}, Device: {{price.device}}, Price: {{price.price}} UAH,   Checked at {{price.checked.date()}}
            {% endif %}
          </a>     
        </li>
      </ul>
      {% endfor %}
      </form> 
    </main>
  </body>
</html>